body {
    background-color: black;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    }
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.9);
    color: #fff;
    margin-top: -10px;
    margin-left:-10px;
    margin-right:-10px;
}
.login-button{
    height: 50px;
    color: white;
    width: 100px;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 45px;
    width: 150px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: none;
    border-right: none;
    font-weight: 800;
}
.login{
    padding-left: 400px;
    
}
.button-nav{
    height: 50px;
    color: white;
    width: 100px;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 45px;
    width: 150px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: none;
}
.icon{
    height: 150px;
}
.header{
    color: white;
    font-size: 100px;
    padding-left: 880px;
}
form {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

