/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

:root {
    --pad : 40%;
    --multiplier : 1.001;
    --pad2 : 1%;
}

h2[id="top"] {
    margin: auto;
    background-color: rgb(35, 65, 72);
}

.product-card h2[id="top"] {
  display: inline-block;
}

.product-card button.delete-button {
  float: right;
}

.textbox {
    width: 100%;
}

p[id="bottom"] {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.371);
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.product-card {
  display: flex;
  background-color: rgba(128, 128, 128, 0.237);
  flex-direction: row;
  align-items: center; /* align elements vertically */
  justify-content: space-between; /* distribute elements evenly */
}

input[type=text] {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.product-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columns with equal width */
  grid-gap: 20px; /* add gap between columns */
}

.product-card img {
  width: auto;
  height: 30vh;
}

.product-card img {
  width: auto;
  height: 200px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

/* for screens smaller than 768px wide */
@media (min-width: 768px) {
  .product-cards-container {
    grid-template-columns: repeat(3, 1fr); /* 1 column */
  }
}
