.product {
    margin: auto;
    padding-top: 5%;
    padding-left: 30%;
    display: inline-block;
    align-items: center;
    width: 41%;
}

.Description {
    font-size: 1vw;
    padding: 5%;
    background-color: black;
}