/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.recipe-card {
    display: inline-block;
    width: 33%;
    text-align: center;
  }
  .recipe-card img {
    width: auto;
    height: 30vh;
  }

  @media (max-width: 600px) {
    .recipe-card {
      width: 100%;
    }
  }
  .recipe-card img {
    width: auto;
    height: 200px;
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }