body {
    background-color: rgba(0, 43, 38, 0.292);
}

::-webkit-scrollbar {
    display: none;
  }

a {
    color: black;
}

#linkContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: end;
    align-items: start;
}

H2 {
    padding-left: 10%;
}

H2[id="instructies"] {
    padding-left: 7%;
}

img {
    position: absolute;
    width : 40%;
    height: auto;
    z-index: -1;
    border-radius: 10%;
}

ul {
    list-style-type: none;
}

div[id="container"]{
    position: relative; 
    display: flex;
}

div[id="div1"]{
    position: absolute;
   top: 20vh;
   left: 70vh;
   text-align: center; 

   width: 25%;
   background-color: white;
   border: 2px solid red;
}

div[id="div2"]{
    
    position: absolute;
    top: 55vh;
    text-align: center; 
}

div[id="div3"]{
    left: 55vh;
    position: absolute;
    top: 55vh;
    text-align: left; 
}